jupyterlab
matplotlib
nbconvert
numpy
Pillow
pyserial
pywin32==228; sys_platform == 'win32'
scikit-learn
scipy
tensorflow==2.6.1
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.9.0+cpu
torchvision==0.10.0+cpu
torchaudio==0.9.0
